body {
  margin: auto;
  max-width: 1920px;
}

body * {
  margin: 0;
  padding: 0;
  color: #000000;
  list-style: none;
}

body * a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 6px 6px 8px rgba(151, 151, 151, 0.12);
          box-shadow: 6px 6px 8px rgba(151, 151, 151, 0.12);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 65px;
}

.nav-list li {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.authorization-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.btn-sign-in {
  border: 1px solid #1c1c1c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  padding: 16px 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-sign-in:hover {
  background: rgba(72, 142, 170, 0.15);
  border: 1px solid #979797;
  cursor: pointer;
}

.btn-sign-up {
  background: #1c1c1c;
  border-radius: 6px;
  color: #ffffff;
  padding: 16px 40px;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-sign-up:hover {
  background: #665f5f;
  cursor: pointer;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 145px;
  padding-bottom: 156px;
  padding-right: 80px;
  padding-left: 80px;
}

.hero-section video {
  width: 880px;
  height: 522px;
  background: linear-gradient(134.63deg, #1fabe3 1.15%, #36358c 99.34%);
  border-radius: 10px;
}

.hero-section-text-content-box h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 120%;
}

.hero-section-text-content-box p {
  width: 717px;
  margin-top: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
}

.hero-section-text-content-box button {
  display: block;
  margin-top: 56px;
  background: #dc483b;
  border-radius: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  border: none;
  width: 196px;
  height: 59px;
  color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section-text-content-box button:hover {
  background: #e8878b;
  cursor: pointer;
}

.arrow-icon {
  display: block;
  margin: auto;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.parners-sections {
  padding-top: 201px;
  padding-right: 80px;
  padding-left: 80px;
}

.parners-sections h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 56px;
}

.parners-sections ul {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 112px;
}

.parners-sections li {
  position: relative;
  text-align: center;
}

.parners-sections svg {
  display: block;
  width: 200px;
  height: 200px;
  fill: #979797;
}

.parners-sections svg:hover {
  fill: unset;
}

.parners-sections span {
  position: absolute;
  bottom: -13px;
  left: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 120%;
  color: #979797;
}

.searching-sections {
  text-align: center;
  padding-top: 229px;
}

.searching-sections h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
}

.searching-sections ul {
  margin: auto;
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searching-sections ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searching-sections a {
  display: block;
  border: 1px solid #665f5f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  padding: 16px 33px;
}

.workplaces-section {
  padding-top: 200px;
  padding-left: 80px;
  padding-right: 80px;
}

.workplaces-section h2 {
  width: 841px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 120%;
}

.workplaces-section h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.workplaces-section ul {
  margin-top: 40px;
  width: 1519px;
}

.workplaces-section ul li:not(:first-child) {
  margin-top: 24px;
}

.workplaces-section ul p {
  padding-top: 4px;
  padding-bottom: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.workplaces-section .itm-01 {
  background-image: url("../../images/line-01.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.workplaces-section .itm-02 {
  background-image: url("../../images/line-02.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.workplaces-section .itm-03 {
  background-image: url("../../images/line-03.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.workplaces-section .itm-04 {
  background-image: url("../../images/line-04.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
}

.workplaces-text {
  padding-top: 56px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.card-section {
  padding-top: 288px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 200px;
  text-align: center;
}

.card-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-section a {
  display: block;
  position: relative;
  width: 480px;
  height: 450px;
  border-radius: 16px;
}

.card-section a h5 {
  position: absolute;
  left: 32px;
  bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  text-align: left;
  color: #ffffff;
}

.card-section a p {
  display: none;
}

.card-section svg {
  position: absolute;
  right: 32px;
  bottom: 32px;
  fill: #ffffff;
  width: 72px;
  height: 72px;
}

.card-itm-01 {
  background-image: url("../../images/card-image-01.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}

.card-itm-02 {
  background-image: url("../../images/card-image-02.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}

.card-itm-03 {
  background-image: url("../../images/card-image-03.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}

footer {
  background-color: #262626;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-link {
  display: block;
  margin: auto;
}

.logo-link svg {
  width: 132px;
}

.list-nav-footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  padding-bottom: 56px;
  border-bottom: 1px solid #97979748;
}

.list-nav-footer li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: #ffffff;
}

.signature-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 39px;
  padding-bottom: 39px;
}

.signature-section span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.social-icon-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.social-icon-box svg {
  width: 18px;
  height: 18px;
}

.square-01 {
  position: absolute;
  width: 350px;
  height: 350px;
  background: linear-gradient(135deg, #109f52 1.15%, #373489 100.07%);
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  -webkit-transform: rotate(145.62deg);
          transform: rotate(145.62deg);
  top: 820px;
  left: -282px;
}

.square-02 {
  position: absolute;
  width: 245.32px;
  height: 245.32px;
  right: -147px;
  top: 1838px;
  background: linear-gradient(135deg, #5659c5 1.15%, #420181 100.07%);
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  -webkit-transform: rotate(146.26deg);
          transform: rotate(146.26deg);
}

.square-03 {
  position: absolute;
  width: 363.75px;
  height: 363.75px;
  left: -278px;
  top: 2049px;
  background: linear-gradient(134.02deg, #1fabe3 1.13%, #36358c 77.67%);
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  -webkit-transform: rotate(29.82deg);
          transform: rotate(29.82deg);
}

.square-04 {
  position: absolute;
  width: 334.12px;
  height: 334.12px;
  left: -375px;
  top: 2434px;
  background: linear-gradient(227.21deg, #93291e -68.17%, #ed213a 80.38%), linear-gradient(135deg, #f7af04 1.15%, #d05b0b 100.07%);
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  -webkit-transform: rotate(29.82deg);
          transform: rotate(29.82deg);
}

.square-05 {
  position: absolute;
  width: 363.23px;
  height: 363.23px;
  right: -249px;
  top: 2656px;
  background: linear-gradient(135deg, #bc547c 1.15%, #8b216a 100.07%);
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  -webkit-transform: rotate(27.05deg);
          transform: rotate(27.05deg);
}

.square-06 {
  position: absolute;
  width: 333.65px;
  height: 333.65px;
  right: -202px;
  top: 3123px;
  background: linear-gradient(135deg, #bfcb20 1.15%, #09a64d 100.07%);
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  -webkit-transform: rotate(27.05deg);
          transform: rotate(27.05deg);
}
/*# sourceMappingURL=main.css.map */