.parners-sections {
  padding-top: 201px;
  text-align: center;
  // padding-right: 80px;
  // padding-left: 80px;
  h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 56px;
  }
  ul {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 112px;
    justify-content: center;
  }
  li {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      box-shadow: 6px 6px 12px rgba(228, 228, 234, 0.65);
      border-radius: 10px;
      span {
        top: 224px;
        color: #000000;
        // transform: translate(-50%, 0%);
      }
    }
  }
  span {
    position: absolute;
    transform-origin: top center;
    white-space: nowrap;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 120%;
    color: #979797;
    top: 200px;
    left: 50%;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%);
    // transform: translateY(0);
  }
}
.partners-list-item-01 {
  background-image: url('../images/partners-icon-01.png');
  &:hover {
    background-image: url('../images/partners-color-icon-01.png');
  }
}
.partners-list-item-02 {
  background-image: url('../images/partners-icon-02.png');
  &:hover {
    background-image: url('../images/partners-color-icon-02.png');
  }
}
.partners-list-item-03 {
  background-image: url('../images/partners-icon-03.png');
  &:hover {
    background-image: url('../images/partners-color-icon-03.png');
  }
}
.partners-list-item-04 {
  background-image: url('../images/partners-icon-04.png');
  &:hover {
    background-image: url('../images/partners-color-icon-04.png');
  }
}
.partners-list-item-05 {
  background-image: url('../images/partners-icon-05.png');
  &:hover {
    background-image: url('../images/partners-color-icon-05.png');
  }
}
.partners-list-item-06 {
  background-image: url('../../images/partners-icon-06.png');
  &:hover {
    background-image: url('../images/partners-color-icon-06.png');
  }
}
.partners-list-item-07 {
  background-image: url('../images/partners-icon-07.png');
  &:hover {
    background-image: url('../images/partners-color-icon-07.png');
  }
}
.partners-list-item-08 {
  background-image: url('../images/partners-icon-08.png');
  &:hover {
    background-image: url('../images/partners-color-icon-08.png');
  }
}
.partners-list-item-09 {
  background-image: url('../images/partners-icon-09.png');
  &:hover {
    background-image: url('../images/partners-color-icon-09.png');
  }
}
.partners-list-item-10 {
  background-image: url('../images/partners-icon-10.png');
  &:hover {
    background-image: url('../images/partners-color-icon-10.png');
  }
}
.partners-list-item-11 {
  background-image: url('../images/partners-icon-11.png');
  &:hover {
    background-image: url('../images/partners-color-icon-11.png');
  }
}
.partners-list-item-12 {
  background-image: url('../images/partners-icon-12.png');
  &:hover {
    background-image: url('../images/partners-color-icon-12.png');
  }
}
