.square-01 {
  position: absolute;
  width: 350px;
  height: 350px;
  background: linear-gradient(135deg, #109f52 1.15%, #373489 100.07%);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  transform: rotate(145.62deg);
  left: -214.36px;
  top: 888.19px;
  z-index: -1;
}
.square-02 {
  position: absolute;
  width: 245.32px;
  height: 245.32px;
  right: -99.79px;
  top: 1885.77px;
  background: linear-gradient(135deg, #5659c5 1.15%, #420181 100.07%);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  transform: rotate(146.26deg);
  z-index: -1;
}
.square-03 {
  position: absolute;
  width: 363.75px;
  height: 363.75px;
  left: -212.28px;
  top: 2115.36px;
  background: linear-gradient(134.02deg, #1fabe3 1.13%, #36358c 77.67%);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  transform: rotate(29.82deg);
  z-index: -1;
}
.square-04 {
  position: absolute;
  width: 334.12px;
  height: 334.12px;
  left: -374.05px;
  top: 2495.4px;
  background: linear-gradient(227.21deg, #93291e -68.17%, #ed213a 80.38%),
    linear-gradient(135deg, #f7af04 1.15%, #d05b0b 100.07%);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  transform: rotate(29.82deg);
  z-index: -1;
}
.square-05 {
  position: absolute;
  width: 363.23px;
  height: 363.23px;
  right: -353.14px;
  top: 2718.72px;
  background: linear-gradient(135deg, #bc547c 1.15%, #8b216a 100.07%);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  transform: rotate(27.05deg);
  z-index: -1;
}
.square-06 {
  position: absolute;
  width: 333.65px;
  height: 333.65px;
  right: -144.26px;
  top: 3080.84px;
  background: linear-gradient(135deg, #bfcb20 1.15%, #09a64d 100.07%);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  transform: rotate(27.05deg);
  z-index: -1;
}
